<!-- BEGIN bool -->
<!-- IF bool.FIELD_LENGTH eq 1 -->
	<!-- BEGIN options -->
	<label for="{bool.FIELD_IDENT}_{bool.options.OPTION_ID}"><input class="radio" type="radio" class="radio" name="{bool.FIELD_IDENT}" id="{bool.FIELD_IDENT}_{bool.options.OPTION_ID}" value="{bool.options.OPTION_ID}"{bool.options.CHECKED} /><span class="radio"></span>{bool.options.VALUE}</label>
	<!-- END options -->
<!-- ELSE -->
	<label for="{bool.FIELD_IDENT}"><input type="checkbox" class="check" name="{bool.FIELD_IDENT}" id="{bool.FIELD_IDENT}"<!-- IF bool.FIELD_VALUE --> checked="checked"<!-- ENDIF --> /><span class="check"></span></label>
<!-- ENDIF -->
<!-- END bool -->
