<!-- IF .draftrow -->
<div class="box-normal">
	<h6 class="draft-title">{L_LOAD_DRAFT}</h3>

	<p>{L_LOAD_DRAFT_EXPLAIN}</p>

	<table class="table">
		<thead>
			<tr>
				<th>{L_LOAD_DRAFT}</th>
				<th class="info">{L_SAVE_DATE}</th>
			</li>
		</thead>
		<tbody>
			<!-- BEGIN draftrow -->
				<tr class="<!-- IF draftrow.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
					<td>
						<a href="{draftrow.U_INSERT}" title="{L_LOAD_DRAFT}" class="topictitle">{draftrow.DRAFT_SUBJECT}</a><br />
						<!-- IF not S_PRIVMSGS --><!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
						<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
						<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF --><!-- ENDIF -->
					</td>
					<td class="info">{draftrow.DATE}</td>
				</tr>
			<!-- END draftrow -->
		</tbody>
	</table>
</div>
<!-- ENDIF -->
