	</div>

	<!-- IF DEBUG_OUTPUT --><br>{DEBUG_OUTPUT}<!-- ENDIF -->

	<div id="darkenwrapper" class="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken" class="darken"></div>
	</div>

	<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<a href="#" class="alert_close"></a>
		<h3 class="alert_title"></h3><p class="alert_text"></p>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert">
		<a href="#" class="alert_close"></a>
		<div class="alert_text"></div>
	</div>
</div>

<script type="text/javascript" src="{T_JQUERY_LINK}"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/core.min.js?assets_version={T_ASSETS_VERSION}"></script>

<!-- INCLUDEJS forum_fn.min.js -->
<!-- INCLUDEJS ajax.min.js -->

<!-- IF S_COOKIE_NOTICE -->
	<script src="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js?assets_version={T_ASSETS_VERSION}"></script>
	<script>
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#0F538A"
					},
					"button": {
						"background": "#E5E5E5"
					}
				},
				"theme": "classic",
				"content": {
					"message": "{LA_COOKIE_CONSENT_MSG}",
					"dismiss": "{LA_COOKIE_CONSENT_OK}",
					"link": "{LA_COOKIE_CONSENT_INFO}"
				}
			})});
	</script>
<!-- ENDIF -->

<!-- INCLUDEJS bootstrap.min.js -->
<!-- INCLUDEJS chosen.jquery.min.js -->

<!-- EVENT simple_footer_after -->

<script>
	$(function() {
		$('select').chosen({
			width: "auto",
			disable_search_threshold: 6
		});
	});

	$('.dropdown-profile .w-drop, .dropdown-box-big .w-drop, .dropdown-mega .w-drop, .dropdown-box .w-drop').click(function(e) {
		$(this).toggleClass('open');
		$(this).next('.dropdown-box-big, .dropdown-mega, .dropdown-box').toggle();
		e.stopPropagation();
		e.preventDefault();
	});
</script>

{$SCRIPTS}

</body>
</html>
