<dl class="form">
	<dt><span>{L_LINK_REMOTE_AVATAR}{L_COLON}</span><p>{L_LINK_REMOTE_AVATAR_EXPLAIN}</p></dt>
	<dd><input type="url" name="avatar_remote_url" id="avatar_remote_url" value="{AVATAR_REMOTE_URL}" class="input" data-reset-on-edit="#avatar_remote_width, #avatar_remote_height" /></dd>
</dl>
<dl class="form">
	<dt><span>{L_LINK_REMOTE_SIZE}{L_COLON}</span><p>{L_LINK_REMOTE_SIZE_EXPLAIN}</p></dt>
	<dd>
		<label for="avatar_remote_width"><input type="text" name="avatar_remote_width" id="avatar_remote_width" size="3" value="{AVATAR_REMOTE_WIDTH}" class="input" /> {L_PIXEL}</label> &times;&nbsp; 
		<label for="avatar_remote_height"><input type="text" name="avatar_remote_height" id="avatar_remote_height" size="3" value="{AVATAR_REMOTE_HEIGHT}" class="input" /> {L_PIXEL}</label>
	</dd>
</dl>
