<!-- IF RA_S_VARIANTS -->
	<dl class="form">
		<dt><span>Theme variant{L_COLON}</span></dt>
		<dd>
			<!-- BEGIN color_variants -->
				<!-- IF color_variants.STATUS eq 1 -->
					<label>
						<input type="radio" class="radio" name="ra_variant" value="{color_variants.INDEX}"<!-- IF RA_VARIANT eq color_variants.INDEX --> checked="checked"<!-- ENDIF --> />
						<span class="radio"></span>
						{color_variants.NAME}
					</label>
				<!-- ENDIF -->
			<!-- END color_variants -->
		</dd>
	</dl>
<!-- ENDIF -->
